.fabric-box {
	width: 40%;
	position: absolute;
	top: -50%;
	left: -50%;
	transform: translate(-50%,-50%);
	background: $white;
	transition: all 0.5s ease;
	padding: 15px;
	z-index: 10;
	box-shadow: 0 0 35px rgba(0,0,0,0.2);

	&__title {
		font-family: 'Montserrat', sans-serif;
		padding: 10px 0;
		font-weight: 400;
	}
	input {
		width: 100%;
		margin-bottom: 25px;
		border: none;
		border-bottom: 2px solid $lightPink;
		padding: 10px;
	}
}

@media (max-width: 800px) {
	.fabric-box {
		width: 80%;

	}
}

@media (max-width: 500px) {
	.fabric-box {
		width: 75%;

	}
}

.fabric-box.show {
	top: 50%;
	left: 50%;
	// transform: translate(-50%,-50%);
}