.fabric-form,
.userForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fabric-form__container,
.userForm__container {
	padding: 20px;
	width: 50%;
	margin: 20px auto;
	box-shadow: 5px 5px 100px $grey;
}

@media (max-width: 768px) {
	.fabric-form__container,
	.userForm__container {
		width: 90%;
	}
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="email"],
input[type="password"] {
	padding: 10px;
	margin: 5px 0;
}