.header {
	font-family: 'Montserrat', sans-serif;
	padding: 20px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #D6797D;
	color: white;

	&__link {
	margin: 0 10px;
	padding: 10px;
	text-decoration: none;
	color: white;
	}
}

@media (max-width: 545px) {
	.header {
		display: flex;
		flex-direction: column;

		&__link {
			border: 1px solid white;
			display: inline-block;
			margin: 10px;
		}
	}
}
