.nav {
	display: flex;
	&__link-item {
		color: $white;
		padding: 10px;
		font-size: 1.4rem;
		&:hover {
			color: $lightBlue;
		}
	}
}

@media (max-width: 480px) {
	a.nav__link-item {
		font-size: 1rem;
		padding: 5px;
	}
}
