// Base 

@import "base/variables";

// Components 

@import "components/normalize";
@import "components/header";
@import "components/modal";
@import "components/fabric-box";
@import "components/fabric-card";

// Global

body {
	background: $white;
	color: $black;
	font-family: 'Raleway', sans-serif;
}

img {
	max-width: 350px ;
	height: 300px;
}

// Edit and remove buttons

.fa-times,
.fa-edit {
	color: $black;
	font-size: 1.6rem;
	position: absolute;
}

.fa-times {
	top: 10px;
	right: 10px;
}

.fa-edit {
	top: 10px;
	left: 10px;
}


// Page Container

.fabrics {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

// font-family: 'Raleway', sans-serif;
// font-family: 'Montserrat', sans-serif;